#avatar{
    width: 205px;
    height: 113px;
}

/* "Change Photo" option */
.file {
    position: relative;
    overflow: hidden;
    margin-top: -19%;
    width: 205px;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}

/* Name and Profession */
.head h5{
    color: #333;
}
.head h6{
    color: #0062cc;
}

.register-date{
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}

.register-date span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}

/* Tabs' styling */
.nav-tabs{
    margin-bottom:3%;
}
.nav-tabs .nav-link{
    font-weight:400;
    border: none;
    color: #0062cc;
}

.profile-info > ul > li > a:hover{
  background-color: white;
}
.nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}

/* Restrict the length of input bars */
.form-group > input, .form-group > select{
  width:500px;
}

#cont{
  background: #e3f2fd;
  padding: 2%;
  padding-bottom: .3%;
  border-radius: 1rem;
}

#inputCity{
  width:250px;
}

#inputZip{
    width:120px;
    margin-left: 0px;
}

.fa-edit{
  color: #0062cc;
  margin-right: 8px;
}

.fa-trash-alt{
  color: #ff4d4d;
}

.far:hover{
  cursor: pointer;
}

th{
  color: #595959;
}

td{
  color: #595959;
  font-weight: 400;
}

.btn-success{
  margin-top: 30px;
}

.modal-body > div > input{
  width: 450px;
}

#addButton{
  margin-top: 5px;
}
#addButton:focus{
  background-color: green;
}
