#avatar{
    width: 205px;
    height: 113px;
}

/* "Change Photo" option */
.file {
    position: relative;
    overflow: hidden;
    margin-top: -19%;
    width: 205px;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}

/* Name and Profession */
.head h5{
    color: #333;
}
.head h6{
    color: #0062cc;
}

.register-date{
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}

.register-date span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}

/* Tabs' styling */
.nav-tabs{
    margin-bottom:5%;
}
.nav-tabs .nav-link{
    font-weight:400;
    border: none;
    color: #0062cc;
}

.profile-info > ul > li > a:hover{
  background-color: white;
}
.nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}

#cont{
  background: #e3f2fd;
  padding: 2%;
  border-radius: 1rem;
}

/* Tab-Panes' styling [inf-tab and stats-tab]*/
#info label{
    font-weight: 600;
    margin-left: 20px;
    color: #0062cc;
}
#info p{
    font-weight: 400;
    margin-left: -100px;
}

#stats label{
    font-weight: 600;
    margin-left: 20px;
    color: #0062cc;
}
#stats p{
    font-weight: 400;
}

/* Change table-stripe colour */
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #e3f2fd;
 }
